name: Test Pure Python Package

on:
  workflow_call:
    inputs:
      package:
        required: true
        type: string

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@main

      - name: Test
        run: |
          cd ${{ inputs.package }}
          uv sync
          uv run pytest
